body {
  margin: 0;
  font-family:"'Comic Neue', cursive";
  background: radial-gradient(circle at 20% 30%, #fff59d, transparent 30%),
  radial-gradient(circle at 80% 40%, #ff80ab, transparent 40%),
  radial-gradient(circle at 50% 80%, #81d4fa, transparent 50%),
  linear-gradient(135deg, #ffe0b2 0%, #ffccbc 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}